@font-face {
    font-family: 'NeoDunggeunmo';
    src:
url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
            

body {
    font-family: 'NeoDunggeunmo';
    
    background: #333;
    margin: 0;
    color: white;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
/*navbar start*/
a {
    text-decoration: none; /*anchor 밑줄 제거*/
    font-weight: bold;
    color: white;
}

.navbar {
    width: 100%;
    margin: 0px;
    padding: 0px;
    /*스크롤 시 navbar가 따라온다*/
    top: 0px;
    position: fixed;
    
    
    /*바내부 컨텐츠의 레이아웃*/
    display: flex; 
    justify-content: space-around;
    align-content: center;
    background-color: rgba(3,3,3,0.5);
    
    
    
    /*레이아웃 확인용border: solid white 1px;*/
    
}

.navbar_menu {
    display: flex; /*메뉴(ul)내부의 컨텐츠의 레이아웃*/
    list-style: none;
}

.navbar_menu li {    
    padding: 20px;
}

.navbar_menu a {
    padding: 8px 24px;
}

.navbar_menu a:hover {
    background-color: white;
    border-radius: 4px; /* 끝에 둥글게 */
    color: black;
}

@media screen and (max-width: 768px) {
    .navbar_menu {
        flex-direction: column;
    }

}

/*navbar end*/

.subtitle {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: 800px;
        
    margin: 0px;
    padding: 0px;
    
    font-size: 48px;
}


.home {
    height: 800px;
    
    background-image: url("img/home_00.jpg");
    background-repeat: no-repeat;
    /* to-do: background image가 화면에 꽉차게*/
    background-size: 100% 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    

}


/*박스4개 놓기*/
.project_menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    font-size: 32px;
}

.project_menu > div{
    padding : 8px 24px;
    text-align: center;
}

.project_menu a{
    font-size: 40px;
    padding : 8px 24px;
}

.project_menu a:hover {
    background: white;
    color: #222;
}


.about div {
    text-align :center;
    
}

img {
    display: block; margin: 0px auto;
}

#about-skill {
    display: flex;
    justify-content: space-around;
}

#about-text {
    font-size: 24px;
    margin: 24px 24px;
}


